<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Объясняем код</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <% if (process.env.NODE_ENV === "production") { %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-08N9MH2EME"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-08N9MH2EME', {send_page_view: false});
        </script>
        <% } %>
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>
