.page {
    padding-left: 7px;
    padding-right: 7px;
}

.header {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.2;
    display: flex;
    align-items: center;
}

.header > .title {
    font-size: 104px;
    line-height: 123px;
    font-weight: 700;
}

.header > .definition {
    padding-top: 20px;
    font-size: 30px;
    margin-left: auto;
}

.page h1 {
    font-size: 65px;
    font-weight: 700;

    line-height: 1.2;
}

.section {
    margin-top: 90px;
}

.panes-container {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.pane {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 14px;
    margin-bottom: 15px;
    text-decoration: none !important;
}

.pane h2 {
    padding: 10px;
    color: white;
    line-height: 1.2;
}

.pane .vis-wrapper {
    padding-left: 10px;
}

.bubble-sort {
    background-color: #8700ff;
}

.insertion-sort {
    background-color: #dc151d;
}

.simplified-hash-collisions {
    background-color: #4d9e38;
    width: 100%;
    margin-right: 15px;
}

.simplified-hash-search {
    background-color: #f45c26;
    height: 50%;
}

.simplified-hash-create {
    background-color: #8700ff;
    height: 50%;
}

.simplified-hash-collection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
}

.simplified-hash-collection-left {
    display: flex;
    width: 50%;
}

.simplified-hash-collection-right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.hash-collection {
    display: flex;
    flex-direction: column;
}

.hash-collection-top {
    display: flex;
    flex-direction: row;
    height: 150px;
}

.hash-collection-bottom {
    display: flex;
    flex-direction: row;
    height: 150px;
}

.hash-create {
    width: 55%;
    background-color: #3faaef;
    margin-right: 15px;
}

.hash-search {
    width: 45%;
    background-color: #f5c451;
}

.hash-remove {
    width: 45%;
    background-color: #1f7a78;
    margin-right: 15px;
}

.hash-resize {
    width: 55%;
    background-color: #e3444a;
}
