.page {
    padding-left: 7px;
    padding-right: 7px;
}

.header {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.2;
    display: flex;
    align-items: center;
}

.header > .title {
    font-size: 104px;
    line-height: 123px;
}

.header > .definition {
    padding-top: 20px;
    font-size: 30px;
    margin-left: auto;
}

.page h1 {
    font-size: 65px;
    font-weight: 700;

    line-height: 1.2;
}

.sorts {
    margin-top: 90px;
}

.panes-container {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.pane {
    border-radius: 14px;
    margin-right: 25px;
    width: 30%;
    height: 200px;
}

.pane h2 {
    padding: 10px;
    color: white;
    line-height: 1.2;
}

.pane .vis-wrapper {
    padding-left: 10px;
}

.bubble-sort {
    background-color: #8700ff;
}

.insertion-sort {
    background-color: #dc151d;
}
