.player-header {
    display: flex;
}

.player-title {
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
}

.rc-slider-handle-click-focused {
    /* box-shadow: 0 0 0 1px #a0b1c3 !important;*/
    box-shadow: unset !important;
}

.rc-slider-handle:focus {
    /* box-shadow: 0 0 0 3px #a0b1c3 !important;*/
    box-shadow: unset !important;
}

.player-slider-wrapper {
    padding-left: 10px;
    padding-right: 10px;
}
