.player-header {
    position: relative; /* for .player-buttons position:absolute to work */
    display: flex;
    align-items: center;
    height: 35px;
}

.player-title {
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
}

.player-buttons {
    font-family: monospace;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.player-next {
    margin-left: 10px;
}

.player-prev {
    margin-right: 10px;
}

.player-play {
    margin-right: 20px;
}

.rc-slider-handle-click-focused {
    /* box-shadow: 0 0 0 1px #a0b1c3 !important;*/
    box-shadow: unset !important;
}

.rc-slider-handle:focus {
    /* box-shadow: 0 0 0 3px #a0b1c3 !important;*/
    box-shadow: unset !important;
}

.player-slider-wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

.player-state-vis-wrapper {
    padding: 10px;
}
